#Assignment 3 - Python Assignment 3

##1.1

In [ ]:
def myreduce(fun,iterable):
  fun(iterable)

#I have assumed that myfunction will do sum of elements in the iterable 
def myfunction(iterable):
  print(sum(iterable))

l=[1,2,3]
myreduce(myfunction,l)

6

##1.2

In [ ]:
# I have assumed that fun(var) will return true for values that are above 18
def fun(var):
  if(var>18):
    return True
  else:
    return False

def myfilter(fun,iterable):
  l = []
  for i in iterable:
    if(fun(i)):
      l.append(i)
  return l

iterable = [10,11,19,20,31,5,6,7]
print(myfilter(fun,iterable))

[19, 20, 31]

##2.

In [ ]:

p = []
for i in range(1,5):
    p = p+[x*i for x in ['x','y','z'] ]

p.sort()
print(p)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
p = []
for i in range(1,5):
    p = p+ [x*i for x in ['x','y','z']]
  
print(p)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [2]:
import numpy as np

x = [x for x in range(2, 7)]
x = np.array(x).reshape(5, 1)

v = []
for c in range(len(x) - 2):
    v.append(list(x[c:c + 3]))

l = []
for i in v:
    for j in i:
        l.append(list(j))

print(l)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [3]:
x = [y for y in range(2, 6)]

l = []
for i in range(4):
    l.append([y + i for y in x])

print(l)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [5]:
x = [(i, j) for i in [1, 2, 3] for j in [1, 2, 3]]
print(x)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]